table.patient {
    table-layout: fixed;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    padding-right: 10px;
    /* border: 3px solid purple; */
}

thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 7%;
}

thead th:nth-child(4) {
    width: 13%;
}

thead th:nth-child(5) {
    width: 20%;
}

thead th:nth-child(6) {
    width: 25%;
}

thead th:nth-child(7) {
    width: 10%;
}

table thead tr th,
table tbody tr td {
    padding: 10px;
}


table thead tr th {
    letter-spacing: 2px;
}

table tbody tr td {
    letter-spacing: 1px;
}

table thead tr th {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}


table tbody tr td {
    border-right: 1px solid #003971;
    border-bottom: 1px solid #003971;
}

thead th,
tfoot th,
tfoot td {
    border-bottom: 3px solid #003971;


}

thead th {
    border-right: 1px solid #003971;
}

table tbody td:last-child {
    padding: 5px;
}

table tbody tr:first-child td:last-child {
    border-top: 3px solid #003971;
}

/* tbody tr:nth-child(odd) {
    background-color: #ec919d;
}

tbody tr:nth-child(even) {
    background-color: #569ef7;
} */
.alerto {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    WIDTH: 90%;
    MARGIN: 0 AUTO 20PX;
}

.alerto.success {
    background-color: #04AA6D;
}

.alerto.info {
    background-color: #2196F3;
}

.alerto.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
