/*icon */


.icon-d {
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 3%;
    background-color: #FFF;
}

.icon-dark {
    position: relative;
    /* line-height: 50px; */
    color: #000;
    top: 11%;
    left: 15%;
    font-size: 20px;

}

/*icon */
body {
    overflow-x: hidden;
}

.adm-nav {
    /* background: linear-gradient(to right, #003971, #bc4949); */
    background: #003971 !important;
}

/* .admin-options {
    width:300px;
    position: fixed;
    left: 0;
    top: 0;
} */
.admin-options {
    min-height: 91vh;
    background: linear-gradient(to bottom, #003971, #bc4949);
}

.admin-options .accordion-item .accordion-button,
.admin-options .accordion-item {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.accordion-button::after {
    background-image: none;
    content: '\f0d7';
    font-family: FontAwesome;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.admin-options .accordion-item .accordion-button {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.admin-options .accordion-button:focus {
    z-index: 3;
    border-color: #ccc;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.admin-options .nav-link {
    color: #fff;
    font-size: 16px;
}

.admin-options .accordion-body {
    padding-top: 10px;
    padding-bottom: 0
}

.admin-options .active {
    font-weight: bold;
    text-decoration: underline;
}





.admin-options .btn {
    width: 100%;
    background: #fff;
    color: #003971;
    border: transparent;
}

.admin-options .btn,
.admin-options button i {
    color: #003971;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}





.admin-nav {
    font-weight: bold;
    font-size: 25px;
}

.admin-nav i {
    color: #bc4949;
    font-size: 27px;
    margin-right: 5px
}

.alert-p {
    color: #fff;
    background: linear-gradient(to right, #003971, #bc4949);
    border-color: transparent;

}

.alert-admin {
    position: relative;
}

.alert-admin span {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 17px;
    cursor: pointer;
}

.doc-data p.doc-btn {
    text-align: center;

}

/* .doc-data p.doc-btn button a {
    color: #fff;
    text-decoration: none;
} */
.doc-data p.doc-btn button {
    background-color: #bc4949;
    font-weight: bold;
    border: transparent;
    font-size: 20px;
    padding: 7px 30px;
    border-radius: 20px;
}

.doc-data p.doc-btn button:focus {
    border-color: #bc4949;
    box-shadow: 0 0 0 0.25rem rgb(118 73 73 / 50%);
}

.doc-data .report {
    margin-bottom: 20px;
    box-shadow: 1px 2px 21px rgb(0 0 0 / 20%);
}

.doc-data .report .doc {
    border: 1px solid #ccc;
    padding: 20px;
    transition: .3s all ease-in-out;
    background-color: #fff;
    cursor: pointer;
}

.doc-data .report .doc:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 21px rgb(0 0 0 / 20%);
}

.doc-data .no-doc {
    width: 600px;
    margin: 10px auto;
    text-align: center
}

.search-btn {
    background-color: #bc4949;
    font-weight: bold;
    color: #fff;
    border: none;
}

.search-btn:hover {
    color: #fff;
}

.opt-btn a {
    opacity: .8;
}

.opt-btn .active {
    transform: scale(1.13);
    opacity: 1;
}


/*doctor data*/
.del-doc {
    padding-top: 0;
    padding-bottom: 0;
}

.doc-data th,
td {
    padding: 10px;
}

/* .doc-data th {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
} */
/*
.doc-data th:first-of-type {
    border-left: none
}

.doc-data th:last-of-type {
    border-bottom: none;
}

.doc-data td {
    border: 1px solid #ccc
} */

.doc-data .head {
    margin-bottom: 5px;
    font-size: 20px;
}

.doc-data .head span {
    font-weight: bold;
}

.doc-data hr {
    margin-top: 3px;
    margin-bottom: 30px
}

.report-icon {
    text-align: center;
}

.del-icon {
    color: red;
}

.edit-icon {
    color: green;
}

/* Style Table Of Lotfy */
table {
    /* table-layout: fixed; */
    width: 100%;
    /* margin: 0 auto; */
    border-collapse: collapse;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    padding-right: 10px;
    /* border: 3px solid purple; */
}



table thead tr th {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}


table tbody tr td {
    border-right: 1px solid #003971;
    border-bottom: 1px solid #003971;
}

thead th,
tfoot th,
tfoot td {
    border-bottom: 3px solid #003971;
}

thead th {
    border-right: 1px solid #003971;
}

table tbody td:last-child {
    padding: 5px;
}

table tbody tr:first-child td:last-child {
    border-top: 3px solid #003971;
}

/* tbody tr:nth-child(odd) {
    background-color: #ec919d;
}

tbody tr:nth-child(even) {
    background-color: #569ef7;
} */
.alerto {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    WIDTH: 90%;
    MARGIN: 0 AUTO 20PX;
}

.alerto.success {
    background-color: #04AA6D;
}

.alerto.info {
    background-color: #2196F3;
}

.alerto.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* /****************** */
#admin_patient {
    width: 80%;
    margin: 0 auto;
}

#admin_patient .col-lg-12,
#admin_patient .col-md-6 {
    padding: 10px;
}

/* udate form*/
.update-inp {
    margin-bottom: 10px;
}

.update-btn {
    min-width: 150px;
    max-width: 250px;
    background-color: #003971;
    border-radius: 10px;
    color: #fff;
    display: block;
    border: none;
    padding: 7px;
}


/* admin_add_test start */
.admin_add_test_button
{
    margin-left: 200px;
    margin-top: 15px;
}

.test_names
{
    box-shadow : 5px 5px 20px rgba(0,0,0,.2) !important ;
    border-radius: 5px;
    padding: 20px;

}
/* admin_add_test end */

.con_add input, .con_add select, .con_add textarea{
    margin-bottom: 10px;
}
.con_add_btn{text-align: right;}
.con_add_btn button,  .con_add_btn button:hover{
    background-color: rgb(188, 73, 73);
    color: #fff;
    font-weight: bold;
    border: none;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(188 73 73 / 50%);
}
.con_add_btn  .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #BC4949;
    border-color: none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #BC4949;
    border-color: none;
    box-shadow: 0 0 0 0.25rem rgb(188 73 73 / 50%);
}