body {
    overflow-x: hidden;
}
.adm-nav {
    /* background: linear-gradient(to right, #003971, #bc4949); */
    background: #003971 !important;
}
/* .admin-options {
    width:300px;
    position: fixed;
    left: 0;
    top: 0;
} */
.admin-options {
    min-height: 91vh;
    background: linear-gradient(to bottom, #003971, #bc4949);
}
.admin-options .accordion-item .accordion-button,
.admin-options .accordion-item {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.accordion-button::after {
    background-image: none;
    content: '\f0d7';
    font-family: FontAwesome;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.admin-options .accordion-item .accordion-button {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.admin-options .accordion-button:focus {
    z-index: 3;
    border-color: #ccc;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}
.admin-options .nav-link {
    color: #fff;
    font-size: 16px;
}
.admin-options .accordion-body {padding-top: 10px; padding-bottom: 0}

.admin-options .active {
    font-weight: bold;
    text-decoration: underline;
}





.admin-options .btn {
    width: 100%;
    background: #fff;
    color: #003971;
    border: transparent;
}

.admin-options .btn,
.admin-options button i {
    color: #003971;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}





.admin-nav {
    font-weight: bold;
    font-size: 25px;
}

.admin-nav i {
    color: #bc4949;
    font-size: 27px;
    margin-right: 5px
}

.alert-p {
    color: #fff;
    background: linear-gradient(to right, #003971, #bc4949);
    border-color: transparent;

}

.alert-admin {
    position: relative;
}

.alert-admin span {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 17px;
    cursor: pointer;
}

.doc-data p.doc-btn {
    text-align: center;

}

/* .doc-data p.doc-btn button a {
    color: #fff;
    text-decoration: none;
} */
.doc-data p.doc-btn button {
    background-color: #bc4949;
    font-weight: bold;
    border: transparent;
    font-size: 20px;
    padding: 7px 30px;
    border-radius: 20px;
}

.doc-data p.doc-btn button:focus {
    border-color: #bc4949;
    box-shadow: 0 0 0 0.25rem rgb(118 73 73 / 50%);
}

.doc-data .report {
    margin-bottom: 20px;
    box-shadow: 1px 2px 21px rgb(0 0 0 / 20%);
}

.doc-data .report .doc {
    border: 1px solid #ccc;
    padding: 20px;
    transition: .3s all ease-in-out;
    background-color: #fff;
    cursor: pointer;
}

.doc-data .report .doc:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 21px rgb(0 0 0 / 20%);
}

.doc-data .no-doc {
    width: 600px;
    margin: 10px auto;
    text-align: center
}

.search-btn {
    background-color: #bc4949;
    font-weight: bold;
    color: #fff;
    border: none;
}

.search-btn:hover {
    color: #fff;
}

.opt-btn a {
    opacity: .8;
}

.opt-btn .active {
    transform: scale(1.13);
    opacity: 1;
}
