a.link {
    text-decoration: none;
    font-size: 17px;
}

a.link:hover {
    text-decoration: underline;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2) !important;
    box-shadow: 5px -2px 27px rgb(0 0 0 / 20%);
    border-radius: 0 0 50px 50px;
}

.navbar-brand h3 {
    color: #fff;
    font-weight: bold;
}

.logo-img {
    width: 200px;

}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
    border-radius: 30px;
    margin: 5px;
    transition: 0.3s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background: #003971;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background: #003971;
    border-radius: 30px;

}

.dark-light-content {
    background: linear-gradient(to right, #003971, #bc4949);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




.dark-light-content {
    background: linear-gradient(to right, #003971, #bc4949);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.main-div-login {
    padding: 80px 0;
}

.main-div-login .login-form {
    margin-top: 50px;
}

.main-div-login .login-form input {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
}

.main-div-login .login-form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
}

.main-div-login .login-form a {
    display: block;
    text-align: right;
    margin: 15px 0;
    color: #fff;
}

/* .main-div-login .login-form input.submit {
    background-color: #003971;
    font-weight: bold;
    width: 200px;
    border: none;
    border-radius: 50px;
    margin: 20px auto;


} */

.register-form {
    margin-top: 20px;
}

.register-form input,
.register-form select {

    margin-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
}

.register-form input.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #bc4949;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(188 73 73 / 25%);
}

.register-form input::placeholder {
    color: #fff;

    margin-bottom: 20px;
    font-size: 20px;

}

.register-form a {

    display: block;
    text-align: right;
    color: #fff;
}

.register-form input.submit,
.btn-front {
    min-width: 150px !important;
    max-width: 250px !important;
    margin: 10px auto !important;
    border-color: transparent !important;
    border-radius: 50px !important;
    font-size: 20px !important;
    background-color: #fff !important;
    color: #003971 !important;
    font-weight: bold !important;

    display: block !important;
    /* text-align: right; */
}

/* home style */
.home-page {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 0;
    background: linear-gradient(to right, #003971, #bc4949);
}

/* .home-content {
  margin-top: 30px;
  padding-top: 30px;
} */

.home-content .heading {
    display: flex;
    align-items: center;
    font-size: 60px;
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 20px;
    letter-spacing: 1px;
    /* color: #50658e; */
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.home-content .heading-sm {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

.home-content .heading-sm span:first-of-type {
    color: #ba494a;
}

.home-content p {
    line-height: 1.67;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
}

.home-content .protect-btn {
    background-color: #fff;
    color: #003971;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/* Start Services Page Abdelrahman*/
.card {
    cursor: pointer;
    border: 3px solid #64425C;
    background-color: transparent;
    border-radius: 20px 20px;
    margin-left: 15px;
}

.card-img {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    margin-bottom: 0px;
}

.card-img img {
    width: 100%;
}

/* .card:hover {
    transform: scale(1.06);
} */

.head-cards {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.card-title {
    transition: 1s all ease-in-out;
    color: white;
    /* margin-bottom: 10px !important; */
}

.booked-data {
    color: #FFF;
}

.card-text {
    color: white;
}

.card-btn {
    width: 200px;
    border-radius: 50px;
    margin: 0px auto;
    font-weight: bold;
}

/* .card:hover .card-title {
  color: #003971;
} */
/* End Services Page Abdelrahman*/

/* Start Contact Form */
.contact-form textarea {
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-form button {
    width: 200px;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 25px;
}

.contact-form span {
    display: block;
    margin-top: -20px;
    margin-bottom: 30px;
}

/* .contact-img {
    width: 500px;
    height: 500px;
    padding-left: 60px;
} */

/*End Contact Form */
/* Contac Doctor*/
.head-contact-doctor {
    margin: 30px auto;
}

.head-contact-doctor h3 {
    font-weight: bold;
    font-size: 2em;
    color: #000;
}

.head-contact-doctor h3 span {
    color: #f86168;
    display: inline-block;
}

.head-contact-doctor .head-dose {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #f86168;
}

/* forgot password */
/* .forget-main {
    min-height: 80vh !important;
} */
.fog-padding {
    padding-top: 30px;
}

.forget-mail {
    text-align: center;

    /* width: 50%; */
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #FFF;
    margin: 0px auto;

}

.rest-pass {
    padding: 16px;
}

.forget-mail img {
    width: 300px;
    height: 300px;

}

.forget-mail .email,
.forget-mail .pass,
.forget-mail .alert {
    width: 80%;
    margin: 10px auto;
}

.forget-mail .send {
    margin-top: 15px;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #003971;
    color: white;
}

.forget-mail .send i {
    margin-left: 3px;
}

/* .booked {
    position: relative;
    top: 100px;
} */

/* .booked span {
    color: #f86168;
} */

/* start test forms  */
.test_menu {
    margin: 200px 0;
    text-align: center;
}

.test_menu button {
    font-size: 27px;
    width: 200px;
    border-radius: 70px;
}

.test_menu p {
    line-height: 1.67;
    font-weight: 500;
    letter-spacing: 1px;
}

.test_form_img {
    width: 450px;
    margin: 150px 0;
    margin-top: 30px;
    margin-left: 100px;
}

.test_image_1 {
    width: 450px;
    margin: 150px 0;
    margin-top: 60px;
}

.test_image_2 {
    width: 450px;
    margin: 150px 0;
    margin-top: 40px;
}

.choice-1 {
    margin-top: 200px;
}

/* .choice-1 button {
     box-shadow: 3px 5px #9fd7f8;
} */

.choice-2 button {
    margin-top: 0px;
    /* box-shadow: 3px 5px #9fd7f8; */
}

.test-form select {
    margin: 10px auto;

    font-size: 15px;
}

.test-form {
    margin-top: 0px;
}

.test-form label {
    margin-top: 10px;

    font-size: 15px;
}

.test-form textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.test-form input.submit {
    width: 200px;
    margin: 10;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 50px;
    font-size: 25px;
    /* box-shadow: 3px 5px #9fd7f8; */

}

.test-form a {
    display: block;
    text-align: right;
}

.test_button_margin {
    margin-right: 20px;
    margin-left: 20px;
}

/* end test forms  */

/*  table_my_test */
body a {
    color: #2a3b4b;
}

.page {
    max-width: 70em;

    margin: 0 auto;
}

table th,
table td {
    text-align: left;
}

table.layout {
    width: 100%;
    border-collapse: collapse;


}

table.display {
    margin: 1em 0;

}

table.display th,
table.display td {
    padding: 1em 1em;
    text-align: center;

}

table.display th {
    background: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #296075;
    border-radius: 40px;


    /* box-shadow: 3px 5px #6196be4d;*/
}

table.display td {
    background: #3b5658;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;

    /*box-shadow: 3px 5px #cae1ee75;*/

}

@media (max-width: 40em) {
    table.responsive-table {
        box-shadow: none;
    }

    table.responsive-table thead {
        display: none;
    }

    table.display th,
    table.display td {
        padding: 0.5em;
    }
}

.table_button {
    margin: 7px;
    margin-top: 20px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 4px #97bedc4d;
}

.t_name_col_width {
    width: 170px;
}

.t_date_col_width {
    width: 100px;
}

.t_time_col_width {
    width: 100px;
}

.t_action_col_width {
    width: 100px;
}

.table_heading_3 {
    margin-left: 390px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

/* end_table_my_tests */

/* start no reservations */
.no_res_button {
    margin-left: 470px;
    margin-top: 20px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 4px #1a04045b;
}

/* end no reservations */


/* update_form */

.update_buttons {
    margin-top: 20px;
    margin-left: 550px;
    width: 25%;
}

.update_button_margin {
    margin-right: 20px;
    margin-left: 20px;
}

.update_form_img {
    width: 500px;
    margin: 10px 0;
    opacity: 0.8;

    margin-left: 100px;
}

.update_from_select {
    margin-bottom: 20px;
}

.test-form .update_from_button {
    margin-left: 100px;
}

/* end_update_form */
.inp-form {
    display: block !important;
    margin-bottom: 25px !important;
    font-size: 20px !important;
    background-color: transparent !important;
    color: #fff !important;
}

.inp-form::placeholder,
textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
}

/* .btn-front {
    width: 200px;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 23px;
    background-color: White;
    color: #003971;
} */

.head-fog {
    color: white;
}

.inp-form option {
    background-color: #5C415D;
}

/* Profile */
.profile_label_style {
    font-size: 20px;
    line-height: 1.67;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.input_profile {
    background-color: #011a32 !important;
    border-color: transparent !important;
}



.edit_label:focus {
    border-radius: 8px;
}

.center-image {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Profile */
.user-name {
    color: white;
    font-family: cursive;
    cursor: pointer;
}

.user-data {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 1px 1px 15px #FFF;
    cursor: pointer;
}

.user-data h2 {
    padding-top: 20px;
    font-family: cursive;
}

.real-data {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 7px;
    color: #FFF;
}

.real-data h5 {
    display: inline-block;
    font-weight: bold;
}

.profile-img {
    width: auto;
    max-height: 500px;
    overflow: hidden;
}

.img-fluid {
    width: 80%;
    /* height: 100%; */
}

.btn-pro {
    font-weight: bold;
    width: 201px;
}

.btn-pro:hover {
    transform: scale(1.1);
}

/* Profile*/

.icon-d {
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 3%;
    background-color: #FFF;
}

.icon-dark {
    position: relative;
    /* line-height: 50px; */
    color: #000;
    top: 11%;
    left: 15%;
    font-size: 20px;

}



/* css code for doc profile page */

@media (min-width: 768px) {
    .img-doc {
        height: 600px;
    }
}

body {
    overflow-x: hidden;
}

.doc-content-msg {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rp-icon {
    font-size: 25px;
    margin-right: 10px;
}

.rp {
    color: green
}

.not-rp {
    color: red
}

.accordion-flush .accordion-item {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.accordion-flush .accordion-item .accordion-button {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #fff
}

.accordion-button:focus {
    z-index: 3;
    border-color: #ccc;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.reply {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px
}

.msg-cont {
    margin-bottom: 5px;
}

.accordion-flush .accordion-item .comment {
    text-align: right;
    margin-bottom: 5px;
    margin-top: -35px;
}

.accordion-flush .accordion-item .comment a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 22px;
}

.text-comment textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 100px;
    font-size: 18px;
    border: none;
}

.text-comment input {
    background-color: #fff;
    color: #003971;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


/* message and reply style */
.msg-rep {
    margin-top: 50px;
    color: #fff;
    padding-bottom: 40px;
}

.msg-rep .msgs-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .2)
}

.msg-rep h3 {
    margin-bottom: 30px
}

.msg-content span,
.msg-reply span {
    display: block;
    font-weight: bold;
}

.msg-content,
.msg-reply {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.6;
}

/* .msg-rep .one-msg .msg-content { */
.msg-content {
    background-color: #CCD7E3;
    color: #003971;
    border-radius: 0 20px 20px 20px;
}

.msg-reply {
    background-color: #003971;
    color: #CCD7E3;
    border-radius: 20px 0 20px 20px;
}

.msg-rep .one-msg:not(:last-of-type) {
    border-bottom: 1px solid rgb(139, 139, 139);
    margin-bottom: 20px
}

/* close btn */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/* change password */
.change-pass {
    margin-top: 50px
}

/* Live */
.live-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

.live-img img {
    width: 100%;
}

.live-doc-card {
    font-size: 16px;
}

.live-doc {
    padding: 0px;
}
