a.link {
    text-decoration: none;
    font-size: 17px;
}

a.link:hover {
    text-decoration: underline;
}

.navbar {
    background-color: transparent !important;
    box-shadow: 5px -2px 27px rgb(0 0 0 / 20%);
    border-radius: 0 0 50px 50px;
}

.logo-img {
    width: 200px;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
    border-radius: 30px;
    margin: 5px;
    transition: .3s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background: #287AEA;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background: #287AEA;
    border-radius: 30px;
}

.main-div-login {
    padding: 80px 0;
}

.main-div-login .login-form {
    margin-top: 50px
}

.main-div-login .login-form input {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
}

.main-div-login .login-form a {
    display: block;
    text-align: right;
    margin: 15px 0;
}

.main-div-login .login-form input.submit {
    width: 200px;
    border-radius: 50px;
    margin: 20px auto;
}

.register-form input,
.register-form select {
    margin-bottom: 20px;
    font-size: 20px;
}

.register-form a {
    display: block;
    text-align: right;
}

.register-form input.submit {
    width: 200px;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 25px;
}

/* home style */
.home-page {
    background-image: url("/images/shape-a.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 0;
}

.home-content .heading {
    display: flex;
    align-items: center;
    font-size: 60px;
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #50658e;
    font-weight: bold;
    margin-top: 30px;
}

.home-content .heading-sm {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

.home-content .heading-sm span:first-of-type {
    color: #f86168;
}

.home-content p {
    line-height: 1.67;
    color: #3d4b69;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
}

.home-content .protect-btn {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}


/* Start Services Page Abdelrahman*/
.card {
    transition: 1s all ease-in-out;
    cursor: pointer;
    border: 3px solid #F6F8FD;
    background-color: rgb(249, 249, 252);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(202, 203, 208);

}

.card-img {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    margin-bottom: 0px;
}

.card-img img {
    width: 100%;
}

.card:hover {
    border: 3px solid #287AEA;
    background-color: #e3e7f1;
}

.head-cards {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-title {
    color: #50658E;
}

.card-btn {
    width: 200px;
    border-radius: 50px;
    margin: 0px auto;
}

/* End Services Page Abdelrahman*/

/* Start Contact Form */
.contact-form textarea {
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-form button {
    width: 200px;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 25px;
}

.contact-form span {
    display: block;
    margin-top: -20px;
    margin-bottom: 30px;
}

.contact-img {
    width: 500px;
    height: 500px;
    padding-left: 60px;
}

/*End Contact Form */
/* Contac Doctor*/
.head-contact-doctor {
    margin: 30px auto;
}

.head-contact-doctor h3 {
    font-weight: bold;
    font-size: 2em;
    color: #000
}

.head-contact-doctor h3 span {
    color: #f86168;
    display: inline-block;
}

.head-contact-doctor .head-dose {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #f86168;
}

/* forgot password */
.forget-mail {
    text-align: center;
    width: 50%;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
}

.forget-mail img {
    width: 400px;
    height: 400px;
}

.forget-mail .email,
.forget-mail .pass,
.forget-mail .alert {
    width: 80%;
    margin: 10px auto;
}

.forget-mail .send {
    margin-top: 15px;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 20px;
}

.forget-mail .send i {
    margin-left: 3px;
}

.booked span {
    color: #f86168;
}


/* start test forms  */
.test_menu {

    margin: 200px 0;
    text-align: center;

}

.test_menu button {
    font-size: 27px;
    width: 200px;
    border-radius: 70px;
}

.test_menu p {
    line-height: 1.67;
    color: #5c73a5;
    font-weight: 500;
    letter-spacing: 1px;

}

.test_form_img {
    width: 450px;
    margin: 150px 0;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 100px
}

.test_image_1 {
    width: 450px;
    margin: 150px 0;
    opacity: 0.5;
    margin-top: 60px
}

.test_image_2 {
    width: 450px;
    margin: 150px 0;
    opacity: 0.5;
    margin-top: 40px
}

.choice-1 {
    margin-top: 200px;

}

.choice-1 button {

    box-shadow: 3px 5px #9fd7f8;
}

.choice-2 button {
    margin-top: 0px;
    box-shadow: 3px 5px #9fd7f8;

}

.test-form select {

    margin: 10px auto;

    font-size: 15px;
}

.test-form {

    margin-top: 0px;

}

.test-form label {

    margin-top: 10px;

    font-size: 15px;
}

.test-form textarea {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.test-form input.submit {
    width: 200px;
    margin: 10;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 3px 5px #9fd7f8;
}

.test-form a {
    display: block;
    text-align: right;
}

.test_button_margin {

    margin-right: 20px;
    margin-left: 20px;

}

/* end test forms  */




/*  table_my_test */
body a {
    color: #2a3b4b;
}

.page {
    max-width: 60em;
    margin: 0 auto;
}

table th,
table td {
    text-align: left;
}

table.layout {
    width: 100%;
    border-collapse: collapse;
}

table.display {
    margin: 1em 0;

}

table.display th,
table.display td {

    padding: 1em 1em;
    text-align: center;
}

table.display th {
    background: #2f567ab0;
    border-radius: 40px;
    box-shadow: 3px 5px #6196be4d;
}

table.display td {
    background: rgba(183, 231, 243, 0.534);
    border-radius: 30px;
    box-shadow: 3px 5px #cae1ee75;
    font-family: sans-serif;

}



@media (max-width: 40em) {
    table.responsive-table {
        box-shadow: none;
    }

    table.responsive-table thead {
        display: none;
    }

    table.display th,
    table.display td {
        padding: .5em;
    }
}

.table_button {
    margin: 7px;
    margin-top: 20px;

}

.t_name_col_width {
    width: 170px;
}

.t_date_col_width {
    width: 100px;
}

.t_time_col_width {
    width: 100px;
}

.t_action_col_width {
    width: 100px;
}

.table_heading_3 {
    margin-left: 390px;
    margin-top: 20px;
}

/* end_table_my_tests */

/* update_form */

.update_buttons {

    margin-top: 20px;
    margin-left: 550px;
    width: 25%;
}

.update_button_margin {

    margin-right: 20px;
    margin-left: 20px;

}

.update_form_img {
    width: 500px;
    margin: 10px 0;
    opacity: 0.8;

    margin-left: 100px
}

.update_from_select {
    margin-bottom: 20px;

}

.test-form .update_from_button {
    margin-left: 100px;
}

/* end_update_form */